.toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    max-width: 400px;
    margin: 8px;
    padding: 12px 16px;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    right: 0;



}

.toast__success {
    background: #4caf50;
}

.toast__error {
    background: #f44336;
}

.toast__info {
    background: #2196f3;
}

.toast__close {
    cursor: pointer;
    margin-left: 12px;
    font-size: 16px;
}